div.pic_frame {
    display: inline-block;
    text-align: center;
}

* {
	margin:0; padding:0;
}
header {
	height: 50px;
	width: 100%;
	padding: 15px 0;
	background-color:#76d5f5;
	color: black;
}
header .headline{
	  line-height: 50px;
	  float: left;
	  font-size: 30px;
	  margin-left: 100px;
}
.nav-list {
	  line-height: 50px;
	  float: left;
	  margin-left: 30px;
	  list-style: none;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.cp_link {
	display: inline-block;
	padding: 0.1em 0.3em;
	transition: all .3s;
	color: white;
}
.cp_link:hover {
	color:black;
	background-color:#ffffff;
}
a{
	text-decoration: none;
}
