.container {
	width: 1080%;
	max-width: 1080px;
	margin-right: auto;
	margin-left: auto;
	background-color:#ffffff
}
.span.navbar-brand  h1{
	font-family: "ヒラギノ角ゴシック";
}

h1 {
	font-family: "ヒラギノ角ゴシック";
	border-bottom: solid 3px gray;
	position: relative;
	color: black;
  }

.name{
	font-family: "ヒラギノ角ゴシック";	
	margin: 10px 50px 20px;
}

.ditail{
	font-family: "ヒラギノ角ゴシック";
	margin: 10px 50px 20px
}

.btn_upload{
	font-family: "ヒラギノ角ゴシック";
	padding: 8px 38px 8px 8px;
	position: sticky
}
.cp_ipselect {
	overflow: hidden;
	width: 90%;
	text-align: center;
	margin: 10px 50px 20px;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl00 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl00::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl00 select {
	padding: 8px 38px 8px 8px;
	color: black;
}