
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<link rel="stylesheet"  href={{ url_for('static', filename="imagelist.css") }}>
<link rel="stylesheet"  href={{ url_for('static', filename="font.css") }}>
<title>画像一覧</title>
</head>


<body>
    <header>
        <h2 class="headline">
            {{ prefecture }}
        </h2>
        <ul class="nav-list">
            <li class="nav-list-item">
                <a href="/" class="cp_link">全体マップ</a>
            </li>
            <li class="nav-list-item">
                <a href="/upload" class="cp_link">アップロード画面</a>
            </li>
        </ul>
     </header>
    

    <!--
    <table>
        <tr>
            <th>投稿</th>
            <th>名前</th>
        </tr>
        
        {% for e in data: %}
        <tr>
            <td><img src={{ e['path'] }} width=600></td>
            <td><img src={{ e['path'] }} width=600></td>
            <td>{{ e['locate'] }}</td>
        </tr>
        {% endfor %}
    -->
    <!--
        {% for e in data: %}
        <tr>
            <td><img src={{ e['path'] }} width=400>aaa</td>
            <td><img src={{ e['path'] }} width=600>bbb</td>
            <td><img src={{ e['path'] }} width=500>ccc</td>
            <td>{{ e['locate'] }}</td>
        </tr>
        {% endfor %}
    -->
    {% for e in data: %}
        <div class="pic_frame">
            <img src={{ url_for('static', filename=e["path"]) }} height=300>
            <p>{{ e['detail'] }}</p>
        </div>
    {% endfor %}
    </table>
</body>
</html>
