
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<link rel="stylesheet"  href={{ url_for('static', filename="imagelist.css") }}>
<title>画像一覧</title>
</head>


<body>
    <h1 class="title">{{ prefecture }}</h1>

    <!--
    <table>
        <tr>
            <th>投稿</th>
            <th>名前</th>
        </tr>
        
        {% for e in data: %}
        <tr>
            <td><img src={{ e['path'] }} width=600></td>
            <td><img src={{ e['path'] }} width=600></td>
            <td>{{ e['locate'] }}</td>
        </tr>
        {% endfor %}
    -->
    <!--
        {% for e in data: %}
        <tr>
            <td><img src={{ e['path'] }} width=400>aaa</td>
            <td><img src={{ e['path'] }} width=600>bbb</td>
            <td><img src={{ e['path'] }} width=500>ccc</td>
            <td>{{ e['locate'] }}</td>
        </tr>
        {% endfor %}
    -->
    {% for e in data: %}
        <div class="pic_frame">
            <img src={{ url_for('static', filename=e["path"]) }} height=300>
            <p>{{ e['detail'] }}</p>
        </div>
    {% endfor %}
    </table>
</body>
</html>
