<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>日本各地の画像集</title>
<link rel="stylesheet" href="{{ url_for('static', filename='map_style.css') }}">
<link rel="stylesheet"  href={{ url_for('static', filename="font.css") }}>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
</head>
<body>
    <header>
       <h2 class="headline">
           <a>全体地図</a>
       </h2>
       <ul class="nav-list">
           <li class="nav-list-item">
               <a href="/upload" class="cp_link">アップロード画面</a>
           </li>
       </ul>
    </header>
</body>
<table id="japan-map" class="clearfix">
    <tbody>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="hokkaido" colspan="2" rowspan="2"><div class="hokkaido"><a href="/view?pref=北海道">北海道</a></td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="tohoku" colspan="2"><div class="aomori"><a href="/view?pref=青森">青森</a></td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="tohoku"><div class="akita"><a href="/view?pref=秋田">秋田</a></td>
    <td class="tohoku"><div class="iwate"><a href="/view?pref=岩手">岩手</a></td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="tohoku"><div class="yamagata"><a href="/view?pref=山形">山形</a></td>
    <td class="tohoku"><div class="miyagi"><a href="/view?pref=宮城">宮城</a></td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="chubu"><div class="isikawa"><a href="/view?pref=石川">石川</a></td>
    <td class="chubu"><div class="toyama"><a href="/view?pref=富山">富山</a></td>
    <td class="chubu"><div class="niigata"><a href="/view?pref=新潟">新潟</a></td>
    <td class="tohoku" colspan="2"><div class="hukusima"><a href="/view?pref=福島">福島</a></td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="chubu"><div class="hukui"><a href="/view?pref=福井">福井</a></td>
    <td class="chubu" rowspan="2"><div class="gifu"><a href="/view?pref=岐阜">岐阜</a></td>
    <td class="chubu" rowspan="2"><div class="nagano"><a href="/view?pref=長野">長野</a></td>
    <td class="kanto"><div class="gunma"><a href="/view?pref=群馬">群馬</a></td>
    <td class="kanto"><div class="totigi"><a href="/view?pref=栃木">栃木</a></td>
    </tr>
    <tr>
    <td class="kyushu"><div class="saga"><a href="/view?pref=佐賀">佐賀</a></td>
    <td class="kyushu"><div class="hukuoka"><a href="/view?pref=福岡">福岡</a></td>
    <td class="kyushu"><div class="ooita"><a href="/view?pref=大分">大分</a></td>
    <td class="chugoku" rowspan="2"><div class="yamaguti"><a href="/view?pref=山口">山口</a></td>
    <td class="chugoku"><div class="simane"><a href="/view?pref=島根">島根</a></td>
    <td class="chugoku"><div class="tottori"><a href="/view?pref=鳥取">鳥取</a></td>
    <td class="kinki"><div class="hyougo"><a href="/view?pref=兵庫">兵庫</a></td>
    <td class="kinki"><div class="kyouto"><a href="/view?pref=京都">京都</a></td>
    <td class="kinki"><div class="siga"><a href="/view?pref=滋賀">滋賀</a></td>
    <td class="kanto"><div class="saitama"><a href="/view?pref=埼玉">埼玉</a></td>
    <td class="kanto"><div class="ibaraki"><a href="/view?pref=茨城">茨城</a></td>
    </tr>
    <tr>
    <td class="kyushu"><div class="nagasaki"><a href="/view?pref=長崎">長崎</a></td>
    <td class="kyushu" rowspan="2"><div class="kumamoto"><a href="/view?pref=熊本">熊本</a></td>
    <td class="kyushu" rowspan="2"><div class="miyazaki"><a href="/view?pref=宮崎">宮崎</a></td>
    <td class="chugoku"><div class="hirosima"><a href="/view?pref=広島">広島</a></td>
    <td class="chugoku"><div class="okayama"><a href="/view?pref=岡山">岡山</a></td>
    <td class="kinki"><div class="oosaka"><a href="/view?pref=大阪">大阪</a></td>
    <td class="kinki"><div class="nara"><a href="/view?pref=奈良">奈良</a></td>
    <td class="kinki"><div class="mie"><a href="/view?pref=三重">三重</a></td>
    <td class="chubu"><div class="aiti"><a href="/view?pref=愛知">愛知</a></td>
    <td class="chubu"><div class="yamanasi"><a href="/view?pref=山梨">山梨</a></td>
    <td class="kanto"><div class="toukyou"><a href="/view?pref=東京">東京</a></td>
    <td class="kanto" rowspan="2"><div class="tiba"><a href="/view?pref=千葉">千葉</a></td>
    </tr>
    <tr>
    <td></td>
    <td class="shikoku"><div class="ehime"><a href="/view?pref=愛媛">愛媛</a></td>
    <td class="shikoku"><div class="kagawa"><a href="/view?pref=香川">香川</a></td>
    <td></td>
    <td class="kinki" colspan="2"><div class="wakayama"><a href="/view?pref=和歌山">和歌山</a></td>
    <td></td>
    <td></td>
    <td class="chubu"><div class="sizuoka"><a href="/view?pref=静岡">静岡</a></td>
    <td class="kanto"><div class="kanagawa"><a href="/view?pref=神奈川">神奈川</a></td>
    </tr>
    <tr>
    <td class="okinawa"><div class="okinawa"><a href="/view?pref=沖縄">沖縄</a></td>
    <td class="kyushu" colspan="2"><div class="kagosima"><a href="/view?pref=鹿児島">鹿児島</a></td>
    <td class="shikoku"><div class="kouti"><a href="/view?pref=高知">高知</a></td>
    <td class="shikoku"><div class="tokusima"><a href="/view?pref=徳島">徳島</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    </tbody>
    </table>