<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" as="style" crossorigin="anonymous">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" as="script" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
    <link rel="stylesheet"  href={{ url_for('static', filename="font.css") }}>
    <title>ファイルアップロード</title>
</head>
<body>
    <header>
        <h2 class="headline">
            <a>アップロード画面</a>
        </h2>
        <ul class="nav-list">
            <li class="nav-list-item">
                <a href="/" class="cp_link">全体マップ</a>
            </li>
        </ul>
     </header>
    <div class="container mt-5">
        <h1>ファイルアップロード</h1>
        <form enctype="multipart/form-data" action="/upload" method="post">
            <div class="card">
                <div class="card-header">
                    データの追加
                </div>
                <div class="row">
                    <div class="name col">
                        <label for="exampleFormControlInput1" class="form-label">画像の名前:「必須」</label>
                        <input type="text" class="form-control"　name="name" placeholder="例：富士山">
                    </div>  
                        
                    <div class="ditail col">
                        <label for="exampleFormControlInput1" class="form-label">画像の詳細:「任意」</label>
                        <input type="text" class="form-control"　name="detail" placeholder="例：山">
                    </div> 
                </div>
            </div>
            
            <div class="col mt-5">
                <div class="card">
                    <div class="card-header">
                        都道府県の選択
                    </div>
                    <div class="cp_ipselect cp_sl00 mt-5">
                        <select name = "prefecture">
                            <option selected>都道府県</option>
                            <option value="1">北海道</option>
                            <option value="2">青森</option>
                            <option value="3">岩手</option>
                            <option value="4">宮崎</option>
                            <option value="5">秋田</option>
                            <option value="6">山形</option>
                            <option value="7">福島</option>
                            <option value="8">茨城</option>
                            <option value="9">栃木</option>
                            <option value="10">群馬</option>
                            <option value="11">埼玉</option>
                            <option value="12">千葉</option>
                            <option value="13">東京</option>
                            <option value="14">神奈川</option>
                            <option value="15">新潟</option>
                            <option value="16">富山</option>
                            <option value="17">石川</option>
                            <option value="18">福井</option>
                            <option value="19">山梨</option>
                            <option value="20">長野</option>
                            <option value="21">岐阜</option>
                            <option value="22">静岡</option>
                            <option value="23">愛知</option>
                            <option value="24">三重</option>
                            <option value="25">滋賀</option>
                            <option value="26">京都</option>
                            <option value="27">大阪</option>
                            <option value="28">兵庫</option>
                            <option value="29">奈良</option>
                            <option value="30">和歌山</option>
                            <option value="31">鳥取</option>
                            <option value="32">島根</option>
                            <option value="33">福岡</option>
                            <option value="34">広島</option>
                            <option value="35">山口</option>
                            <option value="36">徳島</option>
                            <option value="37">香川</option>
                            <option value="38">愛媛</option>
                            <option value="39">高知</option>
                            <option value="40">福岡</option>
                            <option value="41">佐賀</option>
                            <option value="42">長崎</option>
                            <option value="43">熊本</option>
                            <option value="44">大分</option>
                            <option value="45">宮崎</option>
                            <option value="46">鹿児島</option>
                            <option value="47">沖縄</option>
                        </select>
                    </div> 
                </div>
            </div>
                          
                

                <div class="input-group mt-5">
                    <input class="form-control form-control-lg" type="file" name="file">
                </div>

                <div class="btn_upload mt-3">
                    <button type="submit" class="btn btn-primary" name="btn_upload">アップロード</button>
                </div>          

        </form>        
        {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endif %}
    </div>
</body>
</html>